<img src="/assets/svg/logo-small.svg" alt="logo" class="ml16 mb20">

<nav class="mb20">
    <ul class="main-menu-list">
        @for (item of menuItems; track item) {
        <li>
            <a class="menu-item" [routerLink]="[item.link]" routerLinkActive="active">
                <svg class="svg16 menu-item-icon" icon="{{ item.icon }}"></svg>
                <span>{{ item.label }}</span>
            </a>
        </li>
        }
    </ul>
</nav>

<p class="medium-text mb20">Подписчики</p>

@for (profile of subscribers$ | async; track profile.id) {
<app-subscriber-card [profile]="profile"></app-subscriber-card>
}

<section class="mt20 to-subscribers">
    <a [routerLink]="['subscribers']" class="medium-text">Все
        подписчики</a>
    <svg icon="arrow" class="svg16"></svg>
</section>

<footer class="sidebar__footer">
    @if (me(); as me) {
    <app-avatar-circle [avatarUrl]="me.avatarUrl" class="size32"></app-avatar-circle>

    <section class="medium-text sidebar__footer-username">{{ me.username }}</section>

    <a [routerLink]="['settings']" class="sidebar__footer-settings">
        <svg icon="settings" class="svg16"></svg>
    </a>
    }
</footer>