.profile-page {
  &__header {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .settings-btn {
      width: 12rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.75rem;
      color: var(--black);
    }
  }

  &__body {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 22rem;
    gap: 4rem;

    .subscribers-wrapper {
      display: flex;
      align-items: center;
      gap: 0.375rem;

      .subscriber-avatar-link {
        width: 2.25rem;
        height: 2.25rem;
      }

      .to-subscribers-search {
        width: 1rem;
        height: 1rem;
        background: var(--white);
        border-radius: 50%;
        position: relative;

        &::after,
        &::before {
          content: '';
          position: absolute;
          width: 0.1rem;
          height: 0.5rem;
          background: var(--black);
          top: 50%;
          left: 50%;
        }

        &::before {
          transform: translate(-50%, -50%);
        }

        &::after {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }

    .stack-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
    }
  }
}
