<section class="profile-card">
    <section class="profile-card__avatar">
        <img src="assets/images/img.png" alt="avatar" class="profile-card__avatar-img">

        <section class="profile-card__avatar-name">
            <strong class="title">Райан Гослинг</strong>
            <span class="subtitle">ryan.gosling</span>
        </section>
    </section>

    <section class="profile-card__description">
        Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать
        о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.
    </section>

    <section class="profile-card__tags">
        <section class="skill-tag">Angular</section>
        <section class="skill-tag">React</section>
        <section class="skill-tag">Vue</section>
        <section class="skill-tag">Svelte</section>
    </section>

    <section class="profile-card__actions">
        <button class="btn">Подписаться</button>
    </section>
</section>