@import '@/assets/styles/_variables.scss';

:host {
  padding: 1rem 1.25rem;
  display: grid;
  grid-template-columns: 2.75rem 1fr 2.75rem;
  align-items: center;
  gap: 1rem;
  color: $white-075;
  border-bottom: 0.1rem solid $white;
}

.companion__wrapper {
  display: grid;
  grid-template-columns: 2rem 1fr;
  gap: 1rem;
  align-items: center;
}
