:host {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100dvh;
  align-items: center;
  margin: 0 5%;
}

.login-form,
.big-logo {
  place-self: center;
}

.login-form {
  max-width: 27.5rem;
  width: 100%;
}
