.mt20 {
  margin-top: 1.25rem;
}

.mb16 {
  margin-bottom: 1rem;
}

.mb20 {
  margin-bottom: 1.25rem;
}

.mb32 {
  margin-bottom: 2rem;
}

.mb60 {
  margin-bottom: 3.75rem;
}

.ml16 {
  margin-left: 1rem;
}
